Actividad prática - BA Emprende

1) Importar el dataset: **data_corona_group.csv** teniendo en cuenta que el separador a utilizar debe ser: ";"

Aclaración: Si sos usuario Mac, deberás importar el archivo: **._data_corona_group.csv**

In [55]:
import pandas as pd


a_dataframe = pd.read_csv("C:/Users/guill/Desktop/I.A/Inteligencia Artificial - Comisión Miercoles-20210505T221006Z-001/Inteligencia Artificial - Comisión Miercoles/3. Clase/Datos/data_corona_group.csv",sep = ";")

2) Imprimir las 5 primeras filas

In [57]:
a_dataframe.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1,0,0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14,0,0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6,0,0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1,0,0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0,0,0

3) Imprimir las 5 ultimas filas

In [59]:
a_dataframe.tail()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
116,1715,02/17/2020 22:00:00,"Madison, WI",US,2020-02-05T21:53:02,1,0,0
117,1716,02/17/2020 22:00:00,"Orange, CA",US,2020-02-01T19:53:03,1,0,0
118,1717,02/17/2020 22:00:00,"San Antonio, TX",US,2020-02-13T18:53:02,1,0,0
119,1718,02/17/2020 22:00:00,"Seattle, WA",US,2020-02-09T07:03:04,1,0,1
120,1719,02/17/2020 22:00:00,"Tempe, AZ",US,2020-02-01T19:43:03,1,0,0

4) Imprimir las dimensiones del dataset

In [62]:
print(a_dataframe.shape)

(121, 8)

5) Obtener la totalidad de registros por columnas

In [63]:
a_dataframe.count()

Sno               121
Date              121
Province/State     95
Country           121
Last Update       121
Confirmed         121
Deaths            121
Recovered         121
dtype: int64

6) Analizar el tipo de dato de cada columna

In [64]:
a_dataframe.dtypes

Sno                int64
Date              object
Province/State    object
Country           object
Last Update       object
Confirmed          int64
Deaths             int64
Recovered          int64
dtype: object

7) Obtener el tipo de estructura del dataset.  Ej: si es o no un DataFrame

In [65]:
type(a_dataframe)

pandas.core.frame.DataFrame

8) Listar los nombres de las columnas

In [66]:
print(a_dataframe.columns)

Index(['Sno', 'Date', 'Province/State', 'Country', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

9) Eliminar las columnas: **Date** y **Last Update** del dataset

In [24]:
a_dataframe.drop(columns = ["Date", "Last Update"], inplace=true)

10) Verificar la correcta eliminacion de las columnas con la funcion head()

In [25]:
###Completar

11) Determinar cuántos valores faltantes hay en cada columna

12) Obtener las principales medidas estadística del dataset con su correspondiente interpretación

In [68]:
a_dataframe.describe()

               Sno     Confirmed       Deaths    Recovered
count   121.000000    121.000000   121.000000   121.000000
mean   1086.743802    610.677686    15.438017   103.991736
std     774.530293   5449.482485   162.589150   718.648077
min       1.000000      0.000000     0.000000     0.000000
25%      31.000000      1.000000     0.000000     0.000000
50%    1659.000000      4.000000     0.000000     0.000000
75%    1689.000000     72.000000     0.000000    12.000000
max    1719.000000  59989.000000  1789.000000  7862.000000

13) Crear y agregar al dataset la variable **"ratio_recovered"** la cual se obtiene al dividir la columna Recovered/Confirmed

In [28]:
###Completar

14) Crear y agregar al dataset la variable **"ratio_death"** la cual se obtiene al dividir la columna Deaths/Confirmed

Aclaración: Tanto para la variable **ratio_recovered** como asi también para la variable **ratio_death**, no es necesario realizar ningún tratamiento de dato para los valores **na**. Esto quiere decir, que únicamente se contempla la creación de las mismas.

In [29]:
###Completar

15) Obtener e interpretar las distintas correlaciones de variables dentro del dataset

In [30]:
###Completar